<h2>A note for: {{letter.receiver}} - {{letter.ambit}}</h2>
<form action="/letters/{{letter._id}}/continue" method="POST">
  <div>
  <label for="">Text</label>
  <input type="text" name="text">
  </div>

<input type="text" name="receiver" value="{{letter.receiver}}">
<input type="text" name="set" value="{{letter.set}}">
  <div>
  <label for="">Do you want to send your note to your receiver?</label>
  <input type="text" name="email">
  </div>

  <button type="submit">Create note</button>
</form>

{{#if data.messages.length}}
<ul class="validation">
  {{#each data.messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}