<p>For: {{letter.receiver}}</p>

<p>{{letter.text}}</p>
{{#if letter.lastLetter}}
<a href="/letters/{{letter.lastLetter}}">Last</a>
{{/if}}
{{#if letter.nextLetter}}
<a href="/letters/{{letter.nextLetter}}">Next</a>
{{/if}}

{{#if isCreator}}
<a href="/letters/{{letter._id}}/continue">Add another letter for {{letter.receiver}}</a>
<a href="/letters/{{letter._id}}/edit">Edit</a>
<form action="/letters/{{letter._id}}/delete" method="POST">
<button type="submit">Delete letter</button>
</form>
{{!-- <a href="/letters/{{letter._id}}/delete">Delete</a> --}}
{{/if}}

{{> flash}}