<div class="padding-global text-align-center">
  <p class="titulo-p-details">{{letter.receiver}} - {{letter.ambit}}</p>
  {{#if letter.publicCreator}}
  <p>Created by {{letter.creator.username}}</p>
  {{/if}}
  {{#if letter.challenge}}
  This note is for this <a href="/challenges/{{challenge.id}}">challenge</a>
  Votes: {{letter.votes}}
  {{/if}}
  <div class="letter-detail">
    <p class="p-limit">{{letter.text}}</p>
  </div>
  {{#if letter.lastLetter}}
  <a href="/letters/{{letter.lastLetter}}">Last</a>
  {{/if}}
  {{#if letter.nextLetter}}
  <a href="/letters/{{letter.nextLetter}}">Next</a>
  {{/if}}

  {{#if letter.challenge}}
  {{#if hasVoted}}
  {{else}}
  <form action="/letters/{{letter._id}}/vote" method="POST">
    <button type="submit">Vote</button>
  </form>
  {{/if}}
  {{/if}}
  <h2 class="font-size-5">Comments</h2>
  <div class="cuadro-comments">
    {{#each comments}}
    <p class="font-size-4vh">{{this.creator.username}} : {{this.text}}</p>
    {{/each}}
  </div>
  <form action="/letters/{{letter._id}}/comment" method="POST">
    <input class="input-size-details" type="text" name="text">
    <button class="padding-top button-login" type="submit">Add comment</button>
  </form>
  {{#if isCreator}}
  <div class="padding-topandbottom">
    <a class="font-size-4vh" href="/letters/{{letter._id}}/continue">Add another note for the same person or topic</a>
  </div>
  <div>
    <a class="font-size-4vh" href="/letters/{{letter._id}}/edit">Edit</a>
  </div>
  <div>
    <a class="font-size-4vh" href="/letters/{{letter._id}}/delete">Delete</a>
  </div>
  {{/if}}
  {{#if data.messages.length}}
  <ul class="validation">
    {{#each data.messages}}<li>{{this}}</li>{{/each}}
  </ul>
  {{/if}}
  {{!-- {{> flash}} --}}
</div>