<img src="{{letter.image}}" alt="" class="background-note">
<div class="padding-global padding-all-details">
  <p class="titulo-p-details">{{letter.receiver}} - {{letter.ambit}}</p>
  <div>
    <div class="visits-favs">
      <p class="visits">
        <img class="button-size" src="/images/view.png" alt="views">
        {{letter.visits}}
      </p>
      <div id="ajax-form">
        <input type="text" class="ajax-id" id={{letter.id}} hidden></input>
        {{#if isFavorite}}
        <p id="full-heart"><img class="button-size" id="heart-img" src="/images/full-heart.png" alt="heart">
          {{else}}
          <p id="empty-heart"><img class="button-size" id="heart-img" src="/images/empty-heart.png" alt="heart">
            {{/if}}
            <span id="fav-number">{{letter.favorites}}</span></p>
      </div>
    </div>
    <div>
      {{#if letter.challenge}}
      <p class="sizeandcolor">This note is for this <a class="sizeandcolor color-white" href="/challenges/{{challenge.id}}">challenge</a></p>
      {{/if}}
    </div>

    <div>
      {{#if letter.publicCreator}}
      <p class="sizeandcolor">Created by {{letter.creator.username}}</p>
      {{/if}}
    </div>
    <div class="flex-box-details">
      <div>
        {{#if letter.challenge}}
        <p class="sizeandcolor">Votes: <span id="votes-number">{{letter.votes}}</span></p>
        {{/if}}
      </div>


      <div class="padding-top">

        {{!-- <form action="/letters/{{letter._id}}/add-favorite" method="POST">
          <button class="remove-background position-absolute-details" type="submit"><img class="button-size" src="/images/favorite-heart-button.png"
              alt=""></button>
        </form> --}}
      </div>

    </div>
    <div class="letter-detail">
      <p class="p-limit note-type">{{letter.text}}</p>
    </div>

    <div class="text-align-center padding-top-3 container-flex">
      {{#if letter.lastLetter}}
      <a class="sizeandcolor x" href="/letters/{{letter.lastLetter}}"><img class="size-imagen" src="/images/left-arrow.png"
          alt=""></a>
      {{/if}}
      {{#if letter.nextLetter}}
      <a class="sizeandcolor y" href="/letters/{{letter.nextLetter}}"><img class="size-imagen" src="/images/right-arrow.png"
          alt=""></a>
      {{/if}}
    </div>

    <div class="container-flex-details">
      {{#if letter.challenge}}
      {{#if hasVoted}}
      {{else}}
      <div id="vote-form">
        <p id="vote-button" class="button-login">Vote</p>
      </div>
      {{!-- <form action="/letters/{{letter._id}}/vote" method="POST">
        <button class="padding-top button-details" type="submit">Vote</button>
      </form> --}}
      {{/if}}
      {{/if}}
    </div>
    <h2 class="font-size-5">Comments</h2>
    <div class="cuadro-comments">
      {{#each comments}}
      <p class="font-size-4vh">{{this.creator.username}} : {{this.text}}</p>
      {{/each}}
      <p class="font-size-4vh" id="ajax-comments"></p>
    </div>
    <input class="input-size-details" id="comment-text" type="text" name="text" maxlength="100">
    <div id="comment-form" class="button-comment">
      <p id="comment-button" class="button-login">Add comment</p>
    </div>
    {{!-- <form action="/letters/{{letter._id}}/comment" method="POST">
      <input class="input-size-details" type="text" name="text" maxlength="100">
      <div class="text-align-right">
        <button class="padding-top button-login padding-global-finish" type="submit">Add comment</button>
      </div>
    </form> --}}
    {{#if isCreator}}
    <div class="padding-topandbottom">
      <a class="color-white font-size-4vh" href="/letters/{{letter._id}}/continue">Add another note for the same person
        or topic</a>
    </div>
    <div class="float-details">
      <div>
        <a class="font-size-4vh" href="/letters/{{letter._id}}/edit"><img class="size-image-details" src="/images/edit.png"
            alt=""></a>
      </div>
      <div class="padding-div-white-details"></div>
      <div>
        <a class="font-size-4vh" href="/letters/{{letter._id}}/delete"><img class="size-image-details" src="/images/delete.png"
            alt=""></a>
      </div>
    </div>
    {{/if}}
    {{#if data.messages.length}}
    <ul class="validation">
      {{#each data.messages}}<li class="message-validator">{{this}}</li>{{/each}}
    </ul>
    {{/if}}
    {{!-- {{> flash}} --}}
  </div>