<div class="padding-global">
  <h1 class="h1-list padding-top-3">My favorite notes</h1>
  {{#if letters}}
  <ul class="center-ul">
    {{#each letters}}
    <li class="letters-list">
      <a href="/letters/{{this.id}}" class="note-type">{{this.receiver}}</a>
      {{#if ../filter}}
      {{else}}
      {{this.ambit}}
      {{/if}}
      {{#if challenge}}
      - Votes : {{this.votes}}
      {{/if}}
      <div class="visits-favs-list">
        <p>
          <img class="button-size" src="/images/view-dark.png" alt="views">
          {{this.visits}}
        </p>
        <p>
          <img class="button-size" id="heart-img" src="/images/heart-dark.png" alt="heart">
          {{this.favorites}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="no-notes">No favorite notes yet</p>
  {{/if}}
</div>
<div class="padding-global-finish"></div>