<div class="padding-global">
  <h1 class="h1-list padding-top-3">My favorite notes</h1>
  {{#if letters}}
  <ul class="center-ul">
    {{#each letters}}
    <li class="letters-list">
      <a href="/letters/{{this.id}}">{{this.receiver}}</a>
      {{#if ../filter}}
      {{else}}
      {{this.ambit}}
      {{/if}}
      {{#if challenge}}
      - Votes : {{this.votes}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No favorite notes yet</p>
  {{/if}}
</div>