<div class="margin-top-list"></div>
<a href="/challenges/list">See challenges</a>
{{#if challenge}}
<h4>{{challenge.objective}} - {{challenge.ambit}}<h4>
<h5>Created by: {{challenge.creator.username}}<h5>
<a href="/challenges/{{challenge.id}}/new">Create a note for this challenge</a>
{{else}}
<h1>Notes</h1>
{{/if}}
{{#if letters}}
<ul>
  {{#each letters}}
  <li>
    <a href="/letters/{{this.id}}">{{this.receiver}}</a> - {{this.ambit}} 
    {{#if challenge}}
    - Votes : {{this.votes}}
    {{/if}}
  </li>
  {{/each}}
</ul>

{{else}}
<p>No notes yet</p>
<a href="/letters/new">Create note</a
{{/if}}