<div class="margin-top-list"></div>

{{#if challenge}}
<h4>{{challenge.objective}}<h4>
<a href="#">Create a note for this challenge</a>
{{else}}
<h1>Letters</h1>
{{/if}}
<ul>
  {{#each letters}}
  <li>
    <a href="/letters/{{this.id}}">For: {{this.receiver}}</a> - {{this.ambit}}
  </li>
  {{/each}}
</ul>