<div class="padding-global text-align-center">
  {{!-- <a href="/letters/list">See all notes</a> --}}
  <h1 class="padding-top-list-challengues h1-list">Challenges {{#if filter}} - {{filter}} {{/if}}</h1>
  <form class="form-top" action="/challenges/list/search" method="POST">
    <input class="size-form" type="text" name="search" placeholder="Title or user">
    <button class="size-form-two letter-form" id="search-button" type="submit">Search</button>
  </form>
  <form class="form-top" action="/challenges/list" method="POST">
    <select class="size-form letter-form" id="filter-select" name="filter">
      <option value="All">All</option>
      <option value="Experiences">Experiences</option>
      <option value="Family">Family</option>
      <option value="Friends">Friends</option>
      <option value="Lovers">Lovers</option>
      <option value="Me">Me</option>
      <option value="Objects">Objects</option>
      <option value="Places">Places</option>
      <option value="Others">Others</option>
    </select>
    <button class="size-form-two letter-form" id="filter-button" type="submit">Filter</button>
  </form>
  {{#if challenges}}
  <ul>
    {{#each challenges}}
    <li class="letters-list">
      <a href="/challenges/{{this.id}}">{{this.objective}}</a>
      {{#if ../filter}}
      {{else}}
      - {{this.ambit}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No challenges yet</p>
  <a href="/challenges/new">Create challenge</a>
  {{/if}}
</div>