<div class="padding-global">
  <h1 class="h1-login">My Challenges {{#if filter}} - {{filter}} {{/if}}</h1>
  <form class="form-top" action="/challenges/my-challenges" method="POST">
    <select class="size-form letter-form" id="filter-select" name="filter">
      <option value="All">All</option>
      <option value="Experiences">Experiences</option>
      <option value="Family">Family</option>
      <option value="Friends">Friends</option>
      <option value="Lovers">Lovers</option>
      <option value="Me">Me</option>
      <option value="Objects">Objects</option>
      <option value="Places">Places</option>
      <option value="Others">Others</option>
    </select>
    <button class="size-form-two letter-form" id="filter-button" type="submit">Filter</button>
  </form>
  <h2 class="h2-mychallengues">Participated</h2>
  <a class="a-mychallengues" href="/challenges/list"> Search challenges</a>
  {{#if letters}}
  <ul>
    {{#each letters}}

    <li class="size-over letters-list widthandheight">
      <a id="challengesid2" href="/letters/{{this.id}}" class="note-type">{{this.receiver}}</a> 
      {{!-- <div class="padding-bottom-mychallenges"></div> --}}
      <p class="sizeletters">Goal: {{this.challenge.objective}}</p>
      <div class="padding-bottom-mychallenges"></div>
      <p class="sizeletters">{{this.ambit}}</p>
      <div class="padding-bottom-mychallenges"></div>
      <p class="sizeletters">Votes: {{this.votes}}</p>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="no-notes">You don't have any note</p>
  {{/if}}

  <h2 class="h2-mychallengues">Created</h2>
  <a class="call-action mc" href="/challenges/new" >+</a>
  {{#if challenges}}
  <ul>
    {{#each challenges}}
    <li class="letters-list widthandheight">
      <a id="challengesid3" href="/challenges/{{this.id}}">{{this.objective}}</a>
      <p class="sizeletters">{{this.ambit}}</p>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="no-notes">You don't have created any challenge</p>
  {{/if}}
</div>
<div class="padding-global-finish"></div>