<h1>My Challenges</h1>


{{#if letters}}
<ul>
  {{#each letters}}

  <li>
    {{this.challenge.objective}} - {{this.ambit}}
    <a href="/letters/{{this.id}}">For: {{this.receiver}}</a> - {{this.votes}}
  </li>
  {{/each}}
</ul>
{{else}}
<p>You don't have any note for a challenge yet</p>
<a href="/challenges/list"> Search challenges</a>
{{/if}}