<div class="padding-global">
  <h1 class="h1-login">My Challenges {{#if filter}} - {{filter}} {{/if}}</h1>
  <form class="form-top" action="/challenges/my-challenges" method="POST">
    <select class="size-form story-form" id="filter-select" name="filter">
      <option value="All">All</option>
      <option value="Realistic">Realistic</option>
      <option value="Suspense">Suspense</option>
      <option value="Fantasy">Fantasy</option>
      <option value="Science-Fiction">Science-fiction</option>
      <option value="Horror">Horror</option>
      <option value="Romance">Romance</option>
      <option value="Others">Others</option>
    </select>
    <button class="size-form-two story-form" id="filter-button" type="submit">Filter</button>
  </form>
  <h2 class="h2-mychallengues">Participated</h2>
  <a class="a-mychallengues" href="/challenges/list"> Search challenges</a>
  {{#if stories}}
  <ul>
    {{#each stories}}

    <li class="size-over stories-list widthandheight">
      <a id="challengesid2" href="/stories/{{this.id}}" class="story-type">{{this.title}}</a>
      {{!-- <div class="padding-bottom-mychallenges"></div> --}}
      <p class="sizeletters">Goal: {{this.challenge.objective}}</p>
      <div class="padding-bottom-mychallenges"></div>
      <p class="sizeletters">{{this.genre}}</p>
      <div class="padding-bottom-mychallenges"></div>
      <p class="sizeletters">Votes: {{this.votes}}</p>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="no-stories">You don't have any story</p>
  {{/if}}

  <h2 class="h2-mychallengues">Created</h2>
  <a class="call-action mc" href="/challenges/new">+</a>
  {{#if challenges}}
  <ul>
    {{#each challenges}}
    <li class="stories-list widthandheight">
      <a id="challengesid3" href="/challenges/{{this.id}}">{{this.objective}}</a>
      <p class="sizeletters">{{this.genre}}</p>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="no-stories">You don't have created any challenge</p>
  {{/if}}
</div>
<div class="padding-global-finish"></div>